/* CSS for ChiliPeppr Widget */

#com-chilipeppr-widget-nodemcu-files {
   
}

/*#com-chilipeppr-widget-nodemcu-files .nav-tabs {*/
/*    padding:0;*/
/*    margin:0;*/
/*}*/

#com-chilipeppr-widget-nodemcu-files .nav-tabs>li>a {
    padding: 2px 6px;
}
#com-chilipeppr-widget-nodemcu-files .panel-body {
    padding:0;
    max-height:200px;
    overflow: auto;
}

#com-chilipeppr-widget-nodemcu-files .btn-group-filecmds {
    
}

#com-chilipeppr-widget-nodemcu-files .filelist-table {
    margin-bottom:0;
}
#com-chilipeppr-widget-nodemcu-files .filelist-actions {
    padding-right:0;
}

#com-chilipeppr-widget-nodemcu-files .filelist-table th, #com-chilipeppr-widget-nodemcu-files .filelist-table td {
    padding:2px 6px;
}
#com-chilipeppr-widget-nodemcu-files .panel-body .filelist-table .filelist-padleft {
    padding-left:14px;
}
#com-chilipeppr-widget-nodemcu-files .panel-body .filelist-table .filelist-padright {
    padding-right:14px;
}